.perfil-container {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url('/assets/images/login-background2.png') no-repeat center center;
  background-size: cover;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.9);
  text-align: center;
}

.perfil-container h2 {
  margin: 0 0 20px;
    padding: 0;
    color: #ffffff;
}

/* Información del perfil - agrandando el recuadro */
.profile-info {
  width: 500px;
    padding: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #23252b;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5);
    border-radius: 0px;
    text-align: center;
    z-index: 1;
}

/* Moviendo la imagen dentro del contenedor de información */
.profile-picture {
  position: relative;
  margin-bottom: 20px;
}

.profile-img {
  width: 130px; /* Aumentando el tamaño de la imagen */
  height: 130px; /* Establece la altura de la imagen */
  border-radius: 50%;
  border: 3px solid #00eeff;
  background-image: url('/assets/images/UsuarioSinFoto.png'); /* Imagen predeterminada */
  background-size: cover; /* Ajusta la imagen al tamaño del div */
  background-position: center; /* Centra la imagen */
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
  margin-bottom: 20px; /* Espacio entre la imagen y los campos */
}
/* Contenedor para las dos columnas */
.info-fields {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Dos columnas de igual ancho */
  gap: 20px; /* Espacio entre las columnas */
  text-align: left;
  margin: 0 auto; /* Centrar el contenido */
  max-width: 800px; /* Establece un máximo de ancho */
}

/* Ajustar cada campo de información */
.info-field {
  margin-bottom: 15px;
}

.info-field label {
  font-size: 16px;
  font-weight: bold;
  color: #f5f5f5;
  margin-bottom: 5px;
}

.info-field p {
  font-size: 16px;
  color: #ffffff;
  background: rgba(0, 0, 0, 0.1);
  padding: 8px;
  border-radius: 5px;
}

/* Ajustes responsivos para pantallas más pequeñas */
@media (max-width: 768px) {
  .info-fields {
    grid-template-columns: 1fr; /* Cambiar a una columna en pantallas pequeñas */
  }
}

.upload-button {
  margin-top: 10px;
  background-color: #007bff;
  color: white;
  padding: 8px 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}

.upload-button:hover {
  background-color: #0056b3;
}

/* Campos de información */
.info-field {
  margin-bottom: 15px;
  text-align: left;
}

.info-field label {
  display: block;
  font-size: 16px;
  font-weight: bold;
  color: #f5f5f5;
  margin-bottom: 5px;
}

.info-field p {
  font-size: 16px;
  color: #ffffff;
  background: rgba(0, 0, 0, 0.1);
  padding: 8px;
  border-radius: 5px;
}

/* Estilos para hover en campos */
.info-field p:hover {
  background: rgba(0, 0, 0, 0.2);
}

/* Estilos para botones adicionales */
.actions {
  margin-top: 20px;
  text-align: center;
}

.actions .btn {
  background-color: #007bff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
}

.actions .btn:hover {
  background-color: #0056b3;
}
.back-button-container {
  position: fixed;
  bottom: 6%;
  left: 20px;
}

.back-button {
  background-color: #007bff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  color: white;
  font-size: 14px;
  cursor: pointer;
}

.back-button:hover {
  background-color: #0056b3;
}

