html { 
  font-size: 16px; /* 1 rem = 16px para una base consistente */
}

.perfil-container {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url('/assets/images/login-background2.png') no-repeat center center;
  background-size: cover;
  padding: 1.25rem;
  box-shadow: 0 0.125rem 0.3125rem rgba(0, 0, 0, 0.9);
  text-align: center;
  padding-top: 5rem;
}

.perfil-container h2 {
  margin: 0 0 0.125rem;
  padding: 0;
  color: #ffffff;
}

/* Contenedor de información del perfil */
.profile-info {
  width: 31.25rem;
  padding: 1.5625rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #23252b;
  box-shadow: 0 0.9375rem 1.5625rem rgba(0, 0, 0, 0.5);
  border-radius: 0.5rem;
  text-align: center;
  z-index: 1;
  max-height: 43.75rem;
  overflow-y: auto;
}

/* Imagen de perfil */
.profile-picture {
  position: relative;
  margin-bottom: 0.9375rem;
  z-index: 100;
}

.profile-img {
  width: 8.125rem;
  height: 8.125rem;
  border-radius: 50%;
  border: 0.15vw solid #00eeff;
  box-shadow: 0 0.625rem 0.625rem rgba(0, 0, 0, 0.5);
  object-fit: cover;
  z-index: 99;
}

/* Contenedor de información en dos columnas */
.info-fields {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.9375rem;
  text-align: left;
  margin: 0 auto;
  max-width: 31.25rem;
}

/* Campo de información */
.info-field {
  margin-bottom: 0.625rem;
}

.info-field label {
  font-size: 0.875rem;
  font-weight: bold;
  color: #f5f5f5;
  margin-bottom: 0.125rem;
  display: block;
}

.info-field p {
  font-size: 0.875rem;
  color: #ffffff;
  background: rgba(0, 0, 0, 0.1);
  padding: 0.25rem 0.375rem;
  border-radius: 0.3125rem;
}

/* Ajustes en la sección de acciones para el botón */
.actions {
  margin-top: 0.625rem;
  text-align: center;
}

.actions .btn {
  background-color: #007bff;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.3125rem;
  color: white;
  font-size: 0.875rem;
  cursor: pointer;
}

.actions .btn:hover {
  background-color: hsl(211, 100%, 35%);
}

/* Botón de volver */
.back-button-container {
  position: fixed;
  bottom: 6%;
  left: 1.25rem;
}

.back-button {
  background-color: #007bff;
  border: none;
  padding: 0.625rem 1.25rem;
  border-radius: 0.3125rem;
  color: white;
  font-size: 0.875rem;
  cursor: pointer;
}

.back-button:hover {
  background-color: #0056b3;
}

/* Ajustes responsivos para pantallas medianas */
@media (max-width: 768px) {
  .profile-info {
    width: 90%;
    padding: 1.25rem;
  }

  .info-fields {
    grid-template-columns: 1fr;
  }

  .profile-img {
    width: 6.25rem;
    height: 6.25rem;
  }

  .actions .btn {
    padding: 0.5rem 0.75rem;
    font-size: 0.8125rem;
  }
  .back-button-container{
    display: none;
  }
}

/* Ajustes responsivos para pantallas pequeñas */
@media (max-width: 450px), (max-height: 700px) {
  .perfil-container {
    min-width: 28.125rem;
    min-height: 43.75rem;
    overflow: auto;
  }

  .profile-info {
    width: 85%;
    padding: 0.9375rem;
    max-height: 31.25rem;
  }

  .profile-img {
    width: 5rem;
    height: 5rem;
  }

  .info-field label, .info-field p {
    font-size: 0.75rem;
  }

  .actions .btn {
    padding: 0.375rem 0.625rem;
    font-size: 0.75rem;
  }
}