.perfil-container {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url('/assets/images/login-background2.png') no-repeat center center;
  background-size: cover;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.9);
  text-align: center;
}

.perfil-container h2 {
  margin: 0 0 20px;
    padding: 0;
    color: #ffffff;
}

/* Información del perfil - agrandando el recuadro */
.profile-info {
  width: 500px;
    padding: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #23252b;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5);
    border-radius: 0px;
    text-align: center;
    z-index: 1;
}

/* Moviendo la imagen dentro del contenedor de información */
.profile-picture {
  position: relative;
  margin-bottom: 20px;
}

.profile-img {
  width: 130px; /* Aumentando el tamaño de la imagen */
  height: 130px; /* Establece la altura de la imagen */
  border-radius: 50%;
  border: 3px solid #00eeff;
  background-image: url('/assets/images/UsuarioSinFoto.png'); /* Imagen predeterminada */
  background-size: cover; /* Ajusta la imagen al tamaño del div */
  background-position: center; /* Centra la imagen */
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
  margin-bottom: 20px; /* Espacio entre la imagen y los campos */
}

.upload-button {
  margin-top: 10px;
  background-color: #007bff;
  color: white;
  padding: 8px 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}

.upload-button:hover {
  background-color: #0056b3;
}

/* Campos de información */
.info-field {
  margin-bottom: 15px;
  text-align: left;
}

.info-field label {
  display: block;
  font-size: 16px;
  font-weight: bold;
  color: #f5f5f5;
  margin-bottom: 5px;
}

.info-field p {
  font-size: 16px;
  color: #ffffff;
  background: rgba(0, 0, 0, 0.1);
  padding: 8px;
  border-radius: 5px;
}

/* Estilos para hover en campos */
.info-field p:hover {
  background: rgba(0, 0, 0, 0.2);
}

/* Estilos para botones adicionales */
.actions {
  margin-top: 20px;
  text-align: center;
}

.actions .btn {
  background-color: #007bff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
}

.actions .btn:hover {
  background-color: #0056b3;
}
.back-button-container {
  position: fixed;
  bottom: 6%;
  left: 20px;
}

.back-button {
  background-color: #007bff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  color: white;
  font-size: 14px;
  cursor: pointer;
}

.back-button:hover {
  background-color: #0056b3;
}
.footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: rgba(28, 28, 28, 0.95);
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.5);
  z-index: 10;
}

.footer-content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.footer-links {
  list-style: none;
  display: flex;
  gap: 30px;
  padding: 0;
  margin: 0;
}

.footer-links li {
  position: relative;
}

.footer-links li a {
  color: #b3b3b3;
  text-decoration: none;
  font-size: 14px;
}

.footer-links li a:hover {
  color: #ffffff;
  text-decoration: underline;
}

.footer-info {
  width: 100%;
  text-align: right;
  position: fixed;
  bottom: 10px;
  right: 20px;
  font-size: 12px;
  color: #b3b3b3;
  z-index: 11;
}

.footer-info span {
  font-weight: bold;
}
.header {
  width: 100%;
  height: 60px;
  background: linear-gradient(to right, #175be2, #06c6f3);
  color: #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  z-index: 2;
}

.logo-img {
  position: absolute;
  bottom: -35px;
  left: 50%;
  transform: translateX(-50%);
  max-width: 200px;
  height: auto;
  z-index: 2;
}
