<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<app-header></app-header>
<app-loader *ngIf="isLoading"></app-loader>

<!-- VENTANA PRINCIPAL-->
<div class = "ventana-principal">
  <!-- Perfil de usuario -->
  <div class="user-profile">
    <img [src]="loggedUser.profilePicture" alt="Foto de perfil" class="profile-picture">
    <span class="user-fullname">{{ loggedUser.firstName }} {{ loggedUser.lastName }}</span>
    <span class="user-edit-button" (click)="navigateTo('/perfil-admin')" (keydown)="navigateTo('/perfil-admin')">Visitar perfil</span>
  </div>
  <div class="back-button-container">
    <button class="back-button" (click)="navigateTo('/doblefactor')">Volver</button>
  </div>

  <div class="admin-controls2">
    <button class="Btn2"(click)= "logout()">
      <div class="sign">
        <svg viewBox="0 0 512 512"><path d="M377.9 105.9L500.7 228.7c7.2 7.2 11.3 17.1 11.3 27.3s-4.1 20.1-11.3 27.3L377.9 406.1c-6.4 6.4-15 9.9-24 9.9c-18.7 0-33.9-15.2-33.9-33.9l0-62.1-128 0c-17.7 0-32-14.3-32-32l0-64c0-17.7 14.3-32 32-32l128 0 0-62.1c0-18.7 15.2-33.9 33.9-33.9c9 0 17.6 3.6 24 9.9zM160 96L96 96c-17.7 0-32 14.3-32 32l0 256c0 17.7 14.3 32 32 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32l-64 0c-53 0-96-43-96-96L0 128C0 75 43 32 96 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32z"></path></svg>
      </div>
      <div class="text">Salir</div>
    </button>
  </div>
  
  <!--VISTA DE USUARIO -->
  <div *ngIf="!isAdmin">
    <div class="user-profile">
      <img [src]="loggedUser.profilePicture" alt="Foto de perfil" class="profile-picture">
      <span class="user-fullname">{{ loggedUser.firstName }} {{ loggedUser.lastName }}</span>
      <span class="user-edit-button" (click)="navigateTo('/perfil-usuario')" (keydown)="navigateTo('/perfil-usuario')">Visitar perfil</span>
    </div>
      <!-- Vista para el usuario -->
      <h2>Panel de Usuario</h2>
      <!--Contenido exclusivo para el usuario -->
      <app-calendario></app-calendario>

  </div>
  
  <!--VISTA DE ADMINISTRADOR -->
  <div *ngIf="isAdmin">
    
  

    <div *ngIf="activeTab === 'tab1'" class="tab-content">
      <app-lista-usuarios></app-lista-usuarios>
    </div>
    

    <div *ngIf="activeTab === 'tab2'" class="tab-content">
      <app-ausencias></app-ausencias>
    </div>

    <div *ngIf="activeTab === 'tab3'" class="tab-content">
      <app-turnos-horarios></app-turnos-horarios>
    </div>
  </div>
      
  
</div>

<!-- Contenedor para las pestañas, posicionado junto al cuadro negro -->
<div *ngIf="isAdmin" class="tabs-container">
  <button (click)="selectTab('tab1')" [class.active]="activeTab === 'tab1'">Usuarios</button>
  <button (click)="selectTab('tab2')" [class.active]="activeTab === 'tab2'">Ausencias</button>
  <button (click)="selectTab('tab3')" [class.active]="activeTab === 'tab3'">Turnos Horarios</button>
</div>

<app-footer></app-footer>







