.login-container {
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url('/assets/images/login-background2.png') no-repeat center center;
    background-size: cover;
    padding: 20px;
    overflow-y: auto; /* Permite el desplazamiento vertical en pantallas pequeñas */
}
@media (max-width: 450px), (max-height: 700px) {
    .login-container {
        min-width: 450px; /* Mantiene el ancho mínimo aunque la pantalla sea menor */
        min-height: 700px; /* Mantiene la altura mínima */
        overflow: auto; /* Habilita desplazamiento */
    }

    /* Opcionalmente puedes ajustar el tamaño de fuente para mejorar la legibilidad */
    .login-box, .actions, .footer {
        font-size: 14px; /* Ajuste de tamaño de fuente */
    }
    
}
@media (max-width: 450px), (max-height: 555px) {
    .back-button-container{
        display: none;
    }
}

/* Contenedor para reservar espacio para el mensaje de error */
.login-failed-container {
    height: 10px; /* Reserva un espacio fijo para el mensaje de error */
    display: flex;
    justify-content: center; /* Centra el mensaje horizontalmente */
    align-items: center;     /* Centra el mensaje verticalmente */
}

  /* Mensaje de error específico para login fallido */
.login-failed-message {
    text-align: center;
    font-size: 14px;
    color: #ff4d4f;
    font-weight: bold;
    margin-top: 5px; /* Se ajusta ligeramente hacia abajo */
}

/* Mensaje de error para el campo de correo */
.email-error-container {
    height: 5px; /* Reserva espacio para el mensaje de error del email */
    display: flex;
    justify-content: center;
    align-items: center;
}
.error-message {
    color: #ff4d4f; /* Color rojo para el texto del error */
    font-size: 14px; /* Tamaño de fuente */
    margin-top: -10px; /* Espacio adicional encima del mensaje */
    text-align: left; /* Alinear a la izquierda dentro del contenedor */
    font-weight: 500; /* Peso de la fuente */
}

.error-message small {
    display: block;
}

.title {
    font-family: 'Segoe UI', sans-serif;
    font-size: 24px;
    font-weight: bold;
    background: linear-gradient(90deg, #00ccff, #ffffff);
    -webkit-background-clip: text;
    color: transparent;
    text-shadow: none;
}

.login-box {
    width: 90%;

    max-width: 450px;
    min-width: 450px;
    padding: 40px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #23252b;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5);
    border-radius: 0px;
    text-align: center;
    margin-bottom: 20px;
}

.login-box h2 {
    margin: 0 0 20px;
    padding: 0;
    color: #ffffff;
}

.textbox {
    position: relative;
    margin-bottom: 25px;
    width: 100%;
    background: rgba(255, 255, 255, 0.1);
    padding: 5px;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    z-index: 2;
}

.textbox label {
    position: absolute;
    top: 65%;
    left: 10px;
    transform: translateY(-80%);
    font-size: 16px;
    color: #f5f5f5;
    transition: all 0.3s ease;
    pointer-events: none;
}

.textbox input {
    width: 100%;
    padding: 10px;
    background: transparent;
    border: none;
    outline: none;
    color: #f5f5f5;
    font-size: 16px;
    border-radius: 4px;
}

.textbox input:focus ~ label,
.textbox input:not(:placeholder-shown) ~ label {
    top: 0;
    font-size: 12px;
    color: #00eeff;
}

.textbox input:focus {
    border-bottom: 2px solid #00eeff;
    box-shadow: 0 0 8px #00eeff;
}

.textbox input::placeholder {
    color: transparent;
}

.btn {
    width: 100%;
    background-color: #007bff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
    padding: 10px;
}

.btn:hover {
    background-color: #0056b3;
}

.forgot-password-container {
    text-align: left;
    margin-top: -20px;
    
}

.forgot-password {
    font-size: 12px;
    color: #b3b3b3;
    text-decoration: none;
}

.forgot-password:hover {
    color: #00eeff;
    text-decoration: underline;
}

.register-link {
    color: #00eeff;
    font-weight: bold;
    text-decoration: none;
}

.forgot-password:hover,
.register-link:hover {
    color: #ffffff;
    text-decoration: underline;
}

.actions {
    width: 450px;
    min-width: 300px;
    text-align: center;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 1;
    margin-top: 20px
}

.actions .btn {
    width: 100%;
    background-color: #007bff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    margin-top: 30px;
}

.actions .btn:hover {
    background-color: #0056b3;
}

.actions .register-text {
    margin-top: 10px;
    color: white;
    font-size: 15px;
}

.actions .register-text .register-link {
    color: #6d29ff;
    font-weight: bold;
    text-decoration: none;
    font-size: 15px;
}

.actions .register-text .register-link:hover {
    color: #ffffff;
    text-decoration: underline;

}

.password-box {
    display: flex;
}

.toggle-password {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #00eeff;
    font-size: 14px;
    font-weight: bold;
}

.toggle-password:hover {
    color: #ffffff;
}
/* Botón para volver a la página principal */
.back-btn {
    position: absolute;
    top: 15px;  /* Espacio desde la parte superior */
    left: 15px;  /* Espacio desde el lado izquierdo */
    font-size: 14px;
    background-color: #007bff;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    text-decoration: none;  /* Quita la subrayado del enlace */
    font-weight: bold;
    z-index: 3;  /* Asegura que esté visible frente a otros elementos */
}
.back-button-container {
    position: fixed;
    bottom: 6%;
    left: 20px;
    z-index: 100;
}

.back-button {
    background-color: #007bff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    font-size: 14px;
    cursor: pointer;
}

.back-button:hover {
    background-color: #0056b3;
}
