/* Título del panel de ausencias */
.turnos-horarios-panel-title {
font-size: 1.8rem;
color: #000000;
margin-bottom: 5.5vh;
margin-top: 6vh;
}



.turnos-horarios-container {
background-color: #2e2e2e;
padding: 20px;
border-radius: 8px;
color: #ffffff;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
text-align: left;
margin: 2vh auto 2vh auto; /* Centrar el contenedor verticalmente y horizontalmente */
align-items: center;
width: 100%; /* Cambia el ancho a un porcentaje menor o usa un valor fijo como 600px */
max-width: 800px; /* Limita el ancho máximo si estás usando un porcentaje */
}


/* Estilo de la lista de turnos horarios */
.turnos-horarios-container ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.turnos-horarios-container li {
  padding: 8px 0;
  font-size: 16px;
  border-bottom: 1px solid #444;
}
/* Estilo del botón "Añadir turno horario" */
.turnos-horarios-container button {
  background-color: #5fc67d;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  margin-top: 10px;
  transition: background-color 0.3s ease;
}
.turnos-horarios-container button:hover {
  background-color: #45b06a;
}
/* Estilo de los botones de cada turno horario */
.turnos-horarios-container ul li button {
  background: none;
  color: #ffffff;
  border: none;
  font-size: 16px;
  cursor: pointer;
  text-align: left;
  padding: 0;
  transition: color 0.3s ease;
}
.turnos-horarios-container button:disabled {
  background-color: #ccc; /* Gris claro */
  cursor: not-allowed;
  color: #666; /* Texto más tenue */
}

.turnos-horarios-container ul li button:hover {
  color: #ff4d4d; /* Cambia de color en hover para indicar que se puede eliminar */
}
/* Estilo de los selectores de horas */

.selectores-horas {
  display: flex;
  gap: 5px;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.selectores-horas label {
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
}

.selectores-horas select {
  padding: 5px;
  border-radius: 5px;
  border: none;
  background-color: #525252;
  color: white;
  font-size: 14px;
}
.turno-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 0;
}


.modal-overlay {
position: fixed;
top: 0;
left: 0;
width: 100vw;
height: 100vh;
display: flex;
justify-content: center;
align-items: center;
z-index: 9999;
background-color: rgba(0, 0, 0, 0.5);
}

.modalT {
background-color: #333333;
padding: 20px;
border-radius: 8px;
text-align: center;
color: #ffffff;
width: 280px;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);

}
.modal p {
margin-bottom: 20px;
}

.modal-actionsT {
display: flex;
justify-content: space-around;
}



/* Título del panel de ausencias */
.cabec-turnos-title {
text-align: center;
align-items: center;

}

.confirmar-btn {
background-color: #5fc67d;
color: white;
padding: 10px 20px;
border: none;
border-radius: 5px;
cursor: pointer;
}

.cancel-btn {
background-color: #d9534f;
color: white;
padding: 10px 20px;
border: none;
border-radius: 5px;
cursor: pointer;
}

.botones-accion {
display: flex;
justify-content: space-between; /* Para separar los botones */
width: 100%; /* Asegura que los botones ocupen el ancho completo */
margin-top: 10px;
}

.botones-accion button {
background-color: #5fc67d;
color: white;
padding: 10px 20px;
border: none;
border-radius: 5px;
cursor: pointer;
font-size: 14px;
font-weight: bold;
transition: background-color 0.3s ease;
}


/* Botón "Guardar turnos horarios" */
.botones-accion .guardarTurnos-btn {
  background-color: #007bff; /* Azul predeterminado */
  color: white;
  border: none;
  padding: 1.1vh 2.2vw;
  border-radius: 0.6vh;
  cursor: pointer;
  align-items: right;
  transition: background-color 0.3s ease;
}

.botones-accion .guardarTurnos-btn:hover {
  background-color: #0056b3; /* Azul más oscuro para el hover */
}

/* Asegúrate de que el estilo deshabilitado funcione */
.botones-accion .guardarTurnos-btn:disabled {
  background-color: #ccc;
  cursor: not-allowed;
  color: #666;
}
/* Botón "Añadir ausencia" */
.botones-accion .add-ausencia-btn {
  background-color: #28a745; /* Verde predeterminado */
  color: white;
  border: none;
  padding: 1.1vh 2.2vw;
  border-radius: 0.6vh;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.botones-accion .add-ausencia-btn:hover {
  background-color: #218838; /* Verde más oscuro para el hover */
}

/* Estilo deshabilitado */
.botones-accion .add-ausencia-btn:disabled {
  background-color: #ccc;
  cursor: not-allowed;
  color: #666;
}


