.register-container {
    position: relative;
    min-height: 105vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('/assets/images/login-background2.png') no-repeat center center;
    background-size: cover;
}
/* Contenedor para reservar espacio para el mensaje de error */
.login-failed-container {
    height: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

  /* Mensaje de error específico para login fallido */
.login-failed-message {
    text-align: center;
    font-size: 14px;
    color: #ff4d4f;
    font-weight: bold;
    margin-top: 5px; /* Se ajusta ligeramente hacia abajo */
}

.required-info {
    font-size: 11px;
    color: #6b6b6b;
    display: flex;
}

/* Mensaje de error para el campo de correo */
.error-container {
    height: 5px;
    display: flex;
    justify-content: left;
}
.error-message {
    color: #ff4d4f; 
    font-size: 15px;
    margin-top: -25px;
    text-align: left;
    font-weight: 500;
}

.error-message small {
    display: block;
}

.register-box {
    width: 1000px;
    height: 640px;
    padding: 25px;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #23252b;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5);
    border-radius: 0px;
    text-align: center;
    z-index: 1;
}

.register-box h2 {
    margin: 0 0 20px;
    padding: 0;
    color: #ffffff;
}

.form-grid {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 20px; 
}

.textbox {
    position: relative;
    margin-bottom: 25px;
    width: 100%;
    background: rgba(255, 255, 255, 0.1);
    padding: 2px;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    z-index: 2;
}

.textbox label {
    position: absolute;
    top: 70%;
    left: 10px;
    transform: translateY(-90%);
    font-size: 16px;
    color: #f5f5f5;
    transition: all 0.3s ease;
    pointer-events: none;
}

.textbox input {
    width: 100%;
    padding: 10px;
    background: transparent;
    border: none;
    outline: none;
    color: #f5f5f5;
    font-size: 16px;
    border-radius: 4px;
}

.textbox input:focus ~ label,
.textbox input:not(:placeholder-shown) ~ label {
    top: 0;
    font-size: 12px;
    color: #00eeff;
}

.textbox input:focus {
    border-bottom: 2px solid #00eeff;
    box-shadow: 0 0 10px #00eeff;
}

.textbox input::placeholder {
    color: transparent;
}

.btn {
    width: 100%;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.btn:hover {
    background-color: #0056b3;
}

.forgot-password-container {
    text-align: left;
    margin-top: -20px;
}

.forgot-password {
    font-size: 12px;
    color: #b3b3b3;
    text-decoration: none;
}

.forgot-password:hover {
    color: #00eeff;
    text-decoration: underline;
}

.login-link {
    color: #00eeff;
    font-weight: bold;
    text-decoration: none;
}

.forgot-password:hover,
.login-link:hover {
    color: #ffffff;
    text-decoration: underline;
}

.actions {
    width: 450px;
    text-align: center;
    position: absolute;
    padding-top: 150px;
    top: 58%;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 1;
}

.actions .btn {
    width: 100%;
    background-color: #007bff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    margin-top: 30px;
}

.actions .btn:hover {
    background-color: #0056b3;
}

.actions .login-text {
    margin-top: 10px;
    color: white;
    font-size: 15px;
}

.actions .login-text .login-link {
    color: #6d29ff;
    font-weight: bold;
    text-decoration: none;
    font-size: 15px;
}

.actions .login-text .login-link:hover {
    color: #ffffff;
    text-decoration: underline;

}

.password-box {
    display: flex;
}

.toggle-password {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #00eeff;
    font-size: 14px;
    font-weight: bold;
    z-index: 2;
}

.toggle-password:hover {
    color: #ffffff;
}
/* Botón para volver a la página principal */
.back-btn {
    position: absolute;
    top: 15px;  /* Espacio desde la parte superior */
    left: 15px;  /* Espacio desde el lado izquierdo */
    font-size: 14px;
    background-color: #007bff;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    text-decoration: none;  /* Quita la subrayado del enlace */
    font-weight: bold;
    z-index: 3;  /* Asegura que esté visible frente a otros elementos */
}
.back-button-container {
    position: fixed;
    bottom: 6%;
    left: 20px;
}
.back-button {
    background-color: #007bff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    font-size: 14px;
    cursor: pointer;
}

.back-button:hover {
    background-color: #0056b3;
}
