
.btn-contestar-reunion {
    background-color: #2e86de; /* Azul suave */
    color: #ffffff;
    border: none; /* Sin borde */
    border-radius: 6px; /* Esquinas redondeadas */
    padding: 12px 25px; /* Más grande para destacar */
    font-size: 1.6vh; /* Texto proporcional */
    font-weight: 600; /* Negrita ligera */
    cursor: pointer;
    box-shadow: 0 0.4vh 0.8vh rgba(0, 0, 0, 0.2); /* Sombra más sutil */
    transition: all 0.3s ease-in-out; /* Transiciones suaves */
    margin-top: 20px;
  }
  
  .btn-contestar-reunion:hover {
    background-color: #1e5aa1; /* Azul más oscuro */
    transform: scale(1.05); /* Pequeña expansión */
  }
  
  .btn-contestar-reunion:active {
    transform: scale(0.95); /* Contracción al clic */
    box-shadow: 0 0.2vh 0.4vh rgba(0, 0, 0, 0.3); /* Sombra reducida */
  }

  .meetings-panel {
    background-color: #e6e6e6; 
    border: 0.2vw solid #b3b3b3;
    border-radius: 1vw;
    padding: 2vh 2vw;
    position: absolute;
    top: 7vh;
    right: 0;
    width: 25vw; 
    max-height: 60vh; 
    overflow-y: auto; 
    box-shadow: 0 0.5vw 1vw rgba(0, 0, 0, 0.2);
  }
  
  .meeting-card {
    margin-bottom: 2vh;
    padding: 1.5vh 1.5vw;
    border: 0.1vw solid #b3b0b0;
    border-radius: 0.5vw;
    background-color: #b1aeae;
  }
  
  .meeting-card p {
    margin: 0.8vh 0;
    font-size: 1 em;
    color: #000;
  }

  .meeting-card strong {
    color: #000; 
  }

  .btn-success {
    margin-right: 1vw;
    padding: 1vh 1.8vw;
    font-size: 1.6vh; 
    border-radius: 0.5vw;
  }
  
  .btn-danger {
    padding: 1vh 1.8vw;
    font-size: 1.6vh; 
    border-radius: 0.5vw;
  }


  .close-btn {
    background-color: #ff4d4d; /* Rojo suave */
    border: none;
    font-size: 2vh; /* Tamaño más grande para la X */
    font-weight: bold;
    color: #fff; /* Texto blanco */
    cursor: pointer;
    width: 2vw; /* Botón más pequeño */
    height: 2vw; /* Botón más pequeño */
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.3vw;
    transition: background-color 0.3s ease-in-out; /* Transición para el hover del fondo */
  }
  
  .close-btn:hover {
    background-color: #e60000; /* Fondo rojo más intenso al pasar el mouse */
  }


.panel-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.1vw solid #b3b3b3;
  margin-bottom: 2vh;
}

.panel-header h3 {
  margin: 0;
  color: #000; /* Título en negro */
  font-size: 2.2vh; /* Tamaño ajustado */
}


