/* Estilos del contenedor */
.login-container {
    width: 350px;
    margin: 100px auto;
    padding: 20px;
    border-radius: 10px;
    background: linear-gradient(145deg, #06c6f3, #1cd9f3); /* Fondo degradado */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  /* Estilo del título */
  h2 {
    text-align: center;
    color: #ffffff; /* Color del texto del título */
    margin-bottom: 20px;
  }
  
  /* Estilos de los grupos del formulario */
  .form-group {
    margin-bottom: 15px;
  }
  
  /* Estilos de los campos de texto */
  .form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #175be2;
    border-radius: 5px;
    margin-top: 5px;
    background-color: #ffffff; /* Fondo blanco */
    color: #175be2; /* Color del texto */
  }
  
  /* Validación de campos */
  .is-invalid {
    border-color: #ff5b5b; /* Color para errores */
  }
  
  .invalid-feedback {
    color: #ff5b5b; /* Color del texto de error */
    font-size: 0.85em;
  }
  
  /* Estilos del botón */
  button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    background-color: #175be2; /* Fondo azul */
    color: #ffffff; /* Texto blanco */
    font-weight: bold;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #06c6f3; /* Cambio de color al pasar el ratón */
  }
  
  /* Colores de los campos cuando están en foco */
  .form-control:focus {
    border-color: #a2faa3; /* Borde verde claro al hacer foco */
    box-shadow: 0 0 5px #93ef8e; /* Sombra verde claro */
  }
  