<app-header></app-header>

<div class="bg-container"></div>

<div class="notification">
    <span class="notification-icon">⚠️</span> Prevención de delitos cibernéticos
    <a href="https://www.docusign.com/es-mx/blog/desarrolladores/delitos-informaticos-como-evitar" target="_blank" class="notification-link">
        Por favor, revise estos consejos importantes
    </a> sobre cómo prevenir el ciberdelito, como reconocer nuestras comunicaciones oficiales y habilitar la autenticación de dos factores.
</div>

<main class="auth-container">
    <h2 class="auth-title">Por favor, introduzca su código de autenticación de dos factores</h2>
    <div class="code-input-container">
        <input type="text" maxlength="6" class="code-input" placeholder="0 1 2 3 4 5" [(ngModel)]="authCode">
    </div>
    <button class="confirm-button"(click)="verificarCodigo()">Confirmar</button>
</main>

<div class="btn-container">
    <button class="btn" (click)="navigateTo('/perfil-admin')">Perfil Admin</button>
    <button class="btn" (click)="navigateTo('/perfil-usuario')">Perfil Usuario</button>
    <button class="btn" (click)="navigateTo('/registro-admin')">Registro Admin</button>
    <button class="btn" (click)="navigateTo('/ventana-principal')">Ventana Principal</button>
    <button class="btn" (click)="navigateTo('/reset-contrasena')">Restablecer Contraseña</button>
    <button class="btn" (click)="openModal()">Activar segundo factor</button>
</div>

<!-- Modal -->
<div *ngIf="isModalOpen" class="modal">
    <div class="modal-content">
        <span class="close" (click)="closeModal()">&times;</span>
        <h3>Activar segundo factor de autenticación</h3>
        <p>1. Para activar el segundo factor de autenticación, instale Google Authenticator en su teléfono y escanee el código QR.</p>
        <img [src]="qrCodeUrl" alt="Código QR" class="qr-image">
        <p>2. Escriba el código generado por Google Authenticator y presione aceptar.</p>
        <div class="input-group">
            <label for="auth-code">Código</label>
            <input type="text" id="auth-code" placeholder="Ingrese el código" [(ngModel)]="authCode">
        </div>
        <button class="accept-button" (click)="verificarCodigo()">Aceptar</button>
        <div class="backup-code">
            <p>¿No puede escanear?</p>
            <p>Ingrese el siguiente código en su aplicación autenticadora:</p>
            <input type="text" [value]="secretKey" readonly class="backup-input">
        </div>
    </div>
</div>

<app-footer></app-footer>

