<app-header></app-header>

<div class="bg-container"></div>

<div class="notification">
    <span class="notification-icon">⚠️</span> Prevención de delitos cibernéticos
    <a href="#" class="notification-link">Por favor, revise estos consejos importantes</a> sobre cómo prevenir el ciberdelito, como reconocer nuestras comunicaciones oficiales y habilitar la autenticación de dos factores.
</div>

<main class="auth-container">
    <h2 class="auth-title">Por favor, introduzca su código de autenticación de dos factores</h2>
    <div class="code-input-container">
        <input type="text" maxlength="6" class="code-input" placeholder="0 1 2 3 4 5">
    </div>
    <button class="confirm-button">Confirmar</button>
</main>

<div class="btn-container">
    <button class="btn" (click)="navigateTo('/perfil-admin')">Perfil Admin</button>
    <button class="btn" (click)="navigateTo('/perfil-usuario')">Perfil Usuario</button>
    <button class="btn" (click)="navigateTo('/registro-admin')">Registro Admin</button>
    <button class="btn" (click)="navigateTo('/ventana-principal')">Ventana Principal</button>
    <button class="btn" (click)="navigateTo('/reset-contrasena')">Restablecer Contraseña</button>
</div>

<app-footer></app-footer>
