.contenido {
  position: relative;
  z-index: 1;
  padding: 20px;
}

.calendario-contenedor {
  position: relative;
  width: 95%;
  max-width: 1000px;
  margin: -10% auto 120px auto;
  padding: 50px;
  background-color: #2e2e2e;
  border-radius: 1.2vh;
  box-shadow: 0 1.2vh 2.4vh rgba(0, 0, 0, 0.3);
  color: #e0e0e0;
}

.calendario-nombre-mes {
  text-align: center;
  font-size: 3.2vh;
  font-weight: bold;
  margin: 3vh 0;
  color: #ffffff;
  text-shadow: 0.2vh 0.2vh 0.5vh rgba(0, 0, 0, 0.5);
}

.boton-navegacion {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 2vh 3vw;
  font-size: 2.5vh;
  cursor: pointer;
  background-color: #444;
  color: #fff;
  border: none;
  border-radius: 1.2vh;
  transition: background-color 0.3s ease, transform 0.3s ease;
  box-shadow: 0 0.8vh 1.4vh rgba(0, 0, 0, 0.2);
}

.boton-navegacion:hover {
  background-color: #666;
  transform: scale(1.15);
}

.boton-navegacion:active {
  transform: scale(0.95);
}

.boton-navegacion.izquierdo {
  left: -75px;
}

.boton-navegacion.derecho {
  right: -75px;
}

.calendario-filtros {
  display: flex;
  justify-content: center;
  margin-bottom: 3vh;
}

.calendario-filtros button {
  margin: 0 2vh;
  padding: 2vh 3vw;
  cursor: pointer;
  background-color: #5fc67d;
  color: #fff;
  border: none;
  border-radius: 1.2vh;
  font-size: 2.2vh;
  font-weight: bold;
  box-shadow: 0 0.8vh 1.5vh rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.calendario-filtros button:hover {
  background-color: #45b06a;
  transform: scale(1.0);
}

.calendario-filtros button:active {
  transform: scale(0.95);
}

.calendario-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 0.8vh;
}

.calendario-dia {
  border: 1px solid #444;
  padding: 2vh;
  text-align: center;
  background-color: #3d3d3d;
  color: #f1f1f1;
  border-radius: 0.7vw;
  box-shadow: 0 0.3vw 0.6vw rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.calendario-dia:hover {
  background-color: #5a5a5a;
  transform: scale(1.15);
}

.calendario-dia-numero {
  font-size: 2.4vh;
  font-weight: bold;
  text-align: center;
}

.calendario-dia-label {
  font-size: 2vh;
  color: #b3b3b3;
}

.semana-vista {
  display: flex;
}

.horas-column {
  width: 50px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 30px;
  padding-right: 15px;
  color: #b3b3b3;
  font-size: 1.8vh;
}
.calendario-dia-vacio .hora-slot {
  display: none;
}

.hora-item {
  height: 27px;
  width: auto ;
  text-align: right;
  padding-right: 10px;
  margin-bottom: 15px;
}

.calendario-semana-grid {
  flex: 3;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 1vh;
}

.calendario-dia-semana {
  border: 1px solid #444;
  background-color: #3d3d3d;
  color: #f1f1f1;
  border-radius: 0.7vw;
  box-shadow: 0 0.3vw 0.6vw rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease, transform 0.3s ease;
  padding: 5px;
  display: flex;
  flex-direction: column;
}

.calendario-dia-semana:hover {
  background-color: #5a5a5a;
  transform: scale(1.05);
}

.calendario-horas {
  display: flex;
  flex-direction: column;
}

.hora-evento {
  flex: 1;
  border-top: 1px solid #555;
  padding: 5px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.hora-evento:hover {
  background-color: #4a4a4a;
}

.hora-slot {
  height: 45px;
  border: 1px solid #ccc;
  position: relative;
}

.leyenda {
  position: fixed;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  background-color: #2e2e2e;
  padding: 10px 15px;
  border-radius: 10px;
  box-shadow: 0 0.5vh 1vh rgba(0, 0, 0, 0.3);
  color: #e0e0e0;
}

.leyenda-item {
  display: flex;
  align-items: center;
  font-size: 1.5vh;
  margin-bottom: 10px;
}

.leyenda-circulo {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-right: 8px;
}

.organizador {
  background-color: orange;
}

.asistente {
  background-color: blue;
}

.asistida {
  background-color: green;
}

.no-asistida {
  background-color: gray;
}

.btn-crear-reunion {
  position: absolute;
  right: 5%;
  top: 5%;
  background-color: #138530 !important;
  color: #fff;
  border-radius: 50% !important;
  width: 80px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s, background-color 0.3s;
}

.btn-crear-reunion:hover {
  background-color: #105d2e;
  transform: scale(1.1);
}

.btn-crear-reunion:active {
  transform: scale(0.9);
}

.reunion-circulo {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 8px;
}
