<div class="floating-menu">
    <button class="menu-button" (click)="mostrarPestana('usuarios')" [class.active]="isPestanaActiva('usuarios')">Usuarios</button>
    <button class="menu-button" (click)="mostrarPestana('ausencias')" [class.active]="isPestanaActiva('ausencias')">Ausencias</button>
    <button class="menu-button" (click)="mostrarPestana('turnos-horarios')" [class.active]="isPestanaActiva('turnos-horarios')">Tramos horarios</button>
</div>

<div *ngIf="pestanaActual === 'usuarios'">
  <app-lista-usuarios></app-lista-usuarios>
</div>
<div *ngIf="pestanaActual === 'ausencias'">
  <app-ausencias></app-ausencias>
</div>
<div *ngIf="pestanaActual === 'turnos-horarios'">
  <app-turnos-horarios></app-turnos-horarios>
</div>
