<app-header></app-header>
<div class="perfil-container">
  <div class="header">
    <img src="assets/images/reuneme.png" class="logo-img" alt="ReuneMe Logo">
  </div>

  <div class="profile-info">
    <h2>{{ isAdmin ? 'Editar Cuenta de Usuario' : 'Cambiar Contraseña' }}</h2>

    <div class="profile-picture">
      <img [src]="profilePicture || 'assets/UsuarioSinFoto.png'" alt="Profile Image" class="profile-img" />
    </div>

    <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
      <!-- Campos editables para el administrador -->
      <div class="info-fields" *ngIf="isAdmin">
        <!-- Nombre -->
        <div class="info-field">
          <label for="nombre">Nombre*</label>
          <input type="text" id="nombre" formControlName="nombre" placeholder="Nombre" required />
        </div>

        <!-- Apellidos -->
        <div class="info-field">
          <label for="apellidos">Apellidos*</label>
          <input type="text" id="apellidos" formControlName="apellidos" placeholder="Apellidos" required />
        </div>

        <!-- Correo -->
        <div class="info-field">
          <label for="correo">Correo*</label>
          <input type="email" id="correo" formControlName="correo" placeholder="Correo Electrónico" required />
        </div>

        <!-- Departamento -->
        <div class="info-field">
          <label for="departamento">Departamento</label>
          <input type="text" id="departamento" formControlName="departamento" placeholder="Departamento" />
        </div>

        <!-- Centro de Trabajo -->
        <div class="info-field">
          <label for="centroTrabajo">Centro de Trabajo*</label>
          <input type="text" id="centroTrabajo" formControlName="centroTrabajo" placeholder="Centro de Trabajo" required />
        </div>

        <!-- Fecha de alta -->
        <div class="info-field">
          <label for="alta">Fecha de Alta*</label>
          <input type="date" id="alta" formControlName="alta" required />
        </div>

        <!-- Perfil -->
        <div class="info-field">
          <label for="perfil">Perfil</label>
          <input type="text" id="perfil" formControlName="perfil" placeholder="Perfil" />
        </div>
      </div>

      <!-- Campo de contraseña, visible para todos los usuarios -->
      <div class="info-field password-box">
        <label for="password">Nueva Contraseña</label>
        <input
          [type]="passwordFieldType"
          id="password"
          formControlName="password"
          placeholder="Nueva Contraseña"
          [required]="!isAdmin"
        />
        <!-- Botón para mostrar u ocultar la contraseña -->
        <button type="button" class="toggle-password" (click)="togglePasswordVisibility()">
          {{ passwordFieldType === 'password' ? 'Mostrar' : 'Ocultar' }}
        </button>
      </div>

      <!-- Indicador de campos obligatorios y botón de guardar -->
      <p class="required-info">Los campos(*) son obligatorios.</p>
      <button class="btn" type="submit">Guardar Cambios</button>
    </form>

    <!-- Botón de volver -->
    <div class="back-button-container">
      <button class="back-button" (click)="navigateToUserList()">Volver</button>
    </div>
  </div>

  <app-footer></app-footer>
</div>
